.main {
  background-image: url(./assets/hero.png);
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }

